.content-container {
    background-color: var(--offwhite);
    border-radius: 15px;
    margin: 0;
    padding: 20px 7px;
    min-height: 500px;
    max-height: 750px;
    overflow-y: scroll;

    scrollbar-width: none;
    

    display: flex;
    flex-direction: column;
}