#add-plant-btn {
    border: var(--accentgreen) solid 4px;
    background-color: var(--offwhite);
    border-radius: 50%;
    min-height: 125px;
    min-width: 125px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--accentgreen);
    font-size: 75px;
    padding: 0;

    bottom: 10px;
}

#add-plant-btn:active {
    transform: scale(0.9);
}