.custom-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    padding: 1rem;
    /* padding: 15% 20px; */

    background-color: black;
    background-color: rgba(0, 0, 0, .4);
}

.custom-modal-content {
    width: 100%;
    animation: fadeIn .2s;

}

.custom-modal-title {
    
}

#close-button {
    position: fixed;
    font-size: 20px;
    padding: 0px 10px;
    top: 20px;
    right: 20px;

}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

@media (min-width: 768px) {
    .custom-modal {
        padding: 5rem 20rem;
    }    
}