.plant-item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: grey 1px solid;
}

.plant-item:first-of-type {
    border-top: grey 1px solid;
}

.plant-info {
    /* border:blue 2px solid; */
    display: flex;
    flex: 3;
    align-items: center;
}

.plant-namespace {
    flex: 2;
    text-align: left;
}

.quick-status {
    flex:1;
}

.plant-actions {
    flex: 1
}

.waterings {
    border: red 2px solid;
    border-radius: var(--button-radius);
    background-color: var(--greenwhite);
}

.watering-badge {
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    background-color: #64b5f6;
    border-radius: var(--button-radius);
    color: var(--offwhite);
    padding: 10px;
    margin: 10px 0;
}

.badge-section {
    margin: 0 10px;
}