#landing-footer {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100vw;
    padding: 10px;

    background-color: var(--lightgreen);
}

.brand {
    font-family: 'Pacifico';
    font-size: 18px;
    margin: 0;
}

#copyright {
    margin-bottom: 0;
    font-size: 10px;
}