@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  --darkgreen: #124244;
  --lightgreen: #5c8689ff;
  --accentgreen: #61ae9a;
  --accentorange: #ff914d;
  --offwhite: #f5fbfdff;
}

.logo {
  font-family: "Pacifico";
  color: var(--accentgreen);
}

